<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="/images/icon.jpg">
    <title>Главная</title>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="/js/javascript.js"></script>
</head>
<body>
    <div id="page_content">
        <div id="exit">
            <form action="/logout">
                <button>Выход</button>
            </form>
        </div>
        <div id="menu"><ul>{{{mainmenu}}}</ul></div>
        <div id="img"><img src="/images/icon.jpg"></div>
    </div>
</body>
</html>